body {
    max-width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 10vw;
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
}
nav{
    height: 60%;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav-logo{
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
}
nav-menu{
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav-menu a {
    color: #3F2BC0;    
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav-menu a:hover {
    height: 2rem;
    background-color: #10abff;
}
nav-search{
    padding-left: 80px;
    display: flex;
    align-items: center;
}
nav-search input {
    height: 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 9999em;
    background: linear-gradient(21deg, #10abff, #1beabd);
}
.categories{
    background: #ADD8E6;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.categories a {
    color: white;    
    margin: 11px;
    text-decoration: none;
    font-weight: bold;
}
.categories a:hover {
    height: 2rem;
    background-color: #87ceeb;
}
.hero {
    position: relative;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/image-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    width: 200px;
    height: 40px;
    border: 1px solid #0000FF;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    border-radius: 20px;
 }
 .hero-button:hover {
    background-color: #10abff;
    border: 1px solid #3F2BC0;
 }
 .about {
    width: 70%;
    padding-left: 15vw;
    padding-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .about h1 {
    color: #0000FF;
    font-size: 2rem;
    text-align: center;
 }
 .about p{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.3em;
    line-height: 1.6;
 }
 .recommendations1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recommendations1 img {
    margin: 15px;
    transition: all 2s;
   }
   .recommendations1 img:hover {
    transform: scale (1.1);
   }

   .recommendations2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recommendations2 img {
    margin: 15px;
    transition: all 2s;
   }
   .recommendations2 img:hover {
    transform: scale (1.1);
   }
 footer{
    background-color: black;
    color: aliceblue;
 }